@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


/* Start Global */

:root {
  --primary-blue: #005E9E;
  --primary-yellow: #E6B222;
  --primary-black: #313133;
  --secondary-blue: #007EBE;
  --dark-blue: #004E83;
  --hover: rgba(0,0,0,.5);
}

*, *:after, *:before {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #444;
}

.container {
  margin: 0 auto;
  background-color: #444;
}

.wrapper {
  margin: 0 auto;
  background-color: white;
}



h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.button a:link,
.button a:visited {
  display: block;
  padding: 10px 40px;
  border: solid #fff 1px;
  text-align: center;
  color: white;
}

.button a:hover {
  transition: .3s;
  color: var(--primary-black);
  background-color: white;
}

.fitness-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 100px auto 0;
}

.fitness-icons img {
  height: 50px;
}

.feature-image {
  margin-top: -1px;
}

@keyframes scale {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}

.social-icon:hover {
  transform: scale(1.05);
  transition: all .3s ease-out 0.1s;
}

/* Start Header */

nav {
  display: flex;
  flex-direction: column;
  }

.primary-nav {
  display: flex;
  flex-direction: column;
  background: url(../img/brand-voice.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
  max-width: 1280px;
  margin: 20px auto 0;
}

.logo img {
  width: 115px;
}

.social-icon img {
  width: 30px;
  margin-left: 20px;
}

.social-icons li:nth-child(1),
.social-icons li:nth-child(2),
.social-icons li:nth-child(3),
.social-icons li:nth-child(4),
.social-icons li:nth-child(5) {
  display: none;
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 378px);
}

.hero-cta h1 {
  font-size: 8vw;
  line-height: 10vw;
  font-weight: 300;
  text-transform: uppercase;
  padding: 70px 0 80px 0;
  white-space: wrap;
  color: white;
}

.design-thinking-cta {
  width: 100%;
  padding: 50px 0;
  background-color: #DEDEDE;
}

.design-thinking-cta h2 {
  line-height: 2.4rem;
  text-align: center;
  margin: 10px 0;
  padding: 0 10%;
}

.design-thinking-cta a {
  text-align: center;
  margin: 0px auto 10px;
  width: 200px;
}

/* Start Home */

.home .feature-article {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 70px;
  text-align: left;
}

.home .feature-category {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 10px;
}

.home .feature-category img {
  width: 100%;
  height: auto;
}

.home .feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0;
  background-color: var(--secondary-blue);
}


/* Start Footer */

.feature-nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-basis: 100%;
  border-bottom: var(--primary-yellow) solid 6px;
  background-color: var(--primary-black);
}

.feature-nav li {
  flex-grow: 1;
  flex-basis: 0;
  white-space: nowrap;
  text-align: center;
}

.feature-nav li:nth-child(1),
.feature-nav li:nth-child(2) {
  border-right: solid #222 thin;
}

.feature-nav a:link,
.feature-nav a:visited {
  display: block;
  text-decoration: none;
  color: white;
  padding: 30px 10px;
}

.feature-nav a:hover {
  color: #fff;
  transition: 0.3s;
  background-color: var(--primary-blue);
}

.feature-nav a:active,
.feature-nav a.current-page {
  display: block;
  color: #fff;
  background-color: #313635;
}

.primary-footer {
  font-size: 1.1rem;
  text-align: center;
  padding: 50px 0 20px;
  background-color: var(--primary-yellow);
}

.footer-buttons li {
	width: 180px;
	margin: 0 auto;
	padding: 10px 0;
}

.footer-buttons li a:link,
.footer-buttons li a:visited {
	display: block;
	width: 100%;
	padding: 14px;
	color: white;
	background-color: rgba(255,255,255,.1);
}

.footer-buttons li a:hover {
	color: var(--primary-black);
	background-color: white;
	transition: .3s;
}

.project-button {
  width: 240px;
  margin: 40px auto 0;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 0;
  margin: 0;
}

.copyright p {
	font-size: 1.1rem;
	text-align: center;
	color: white;
	background-color: var(--primary-yellow);
	padding: 10px 0 70px;
}


/* Start Breakpoints */

@media (min-width: 420px) {

  .hero-cta {
    height: 100%;
    min-height: calc(100vh - 350px);
  }

    .hero-cta h1 {
      font-size: 6vw;
      line-height: 8vw;
      width: 100%;
    }

    .home .feature-category {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin: 10px;
    }


@media (min-width: 768px) {

  .primary-nav {
    display: flex;
    flex-direction: column;
    background: url(../img/brand-voice.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #406964;
    height: 100%;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 85%;
    max-width: 1280px;
    margin: 20px auto 0;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .logo img {
    width: 115px;
  }

  .social-icons li:nth-child(1),
  .social-icons li:nth-child(2),
  .social-icons li:nth-child(3),
  .social-icons li:nth-child(4),
  .social-icons li:nth-child(5) {
    display: block;
}
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .social-icon img {
    width: 30px;
    margin-left: 20px;
  }
  
  .social-icons .button {
    margin: 0 0 0 20px;
  }

  .hero-cta h1 {
    font-size: 5vw;
    line-height: 8vw;
    width: 100%;
  }

  .design-thinking-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .design-thinking-cta a {
    text-align: center;
    margin: 0;
    width: 200px;
  }

  .home .feature-category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
}

  .primary-footer {
    flex-wrap: wrap;
    padding: 0;
  }

  .footer-terms {
    justify-content: center;
    flex-direction: row;
    padding: 40px 0 50px;
  }

  .footer-terms {
    margin: 0 50px;
  }

  .footer-terms li:nth-child(1) {
    order: 2;
  }

  .footer-terms li:nth-child(2) {
    order: 1;
  }

  .footer-terms li:nth-child(3) {
    order: 3;
  }

  .footer-buttons li {
  	width: 150px;
  	text-align: center;
  	margin: 10px 10px 0;
  }

  .footer-buttons {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 60px 0 0;
  }
}

@media (min-width: 1024px) {

  .hero-cta h1 {
    font-size: 4vw;
    line-height: 8vw;
    width: 100%;
  }
}
